<div id="wrapper">
	<form id="contribute">
		<h1>Contribute to {{representative.name}}</h1>
		Reason for Contribution:<br>
		<select>
			<option value="default">Select a reason...</option>
			<option value="finance-reform">Campaign Finance Reform</option>
			<option value="income-tax">Income Tax Revision</option>
			<option value="minimum-wage">Minimum Wage Laws</option>
			<option value="immigration">Immigration</option>
			<option value="safety-net">Provide Safety Net</option>
			<option value="higher-ed">Higher Education</option>
			<option value="other">Other</option>
		</select><br>
		Contribution Amount in Dollars ($USD):<br>
		<input type="number" value="10"><br>
		Additional Information:<br>
		<textarea></textarea><br>
		<input type="submit" value="Send">
	</form>
</div>