<div id="container">
	<div id="head-wrapper">
		<div id="profile-head">
			<img src="#" alt="{{representative.name}}">
		</div>
		<div id="data-vis">
		</div>
		<div id="profile-details">
			<div id="showOnIssue">
				<!-- Example page, would typically be populated dynamically -->
				<!-- E.g. 
				<h1>{{issue.title}}</h1>
				<p repeat="for info in {{issue.details}} | breakBy newline">{{info}}</p>
				-->
				<div="basic-info">
					<h1>Campaign Finance Reform - Ensuring a Free Society</h1>
					<!-- Taken from http://www.cato.org/publications/congressional-testimony/constitutional-issues-related-campaign-finance-reform -->
					<p>In a free society, individuals and organizations are and ought to be free to associate in any way they wish, to speak as they wish, and to spend their money as they wish, provided only that in the process they respect the rights of others to do the same. The Declaration of Independence implies as much when it speaks of our unalienable rights to life, liberty, and the pursuit of happiness. And it goes on to say that the purpose of government is to protect that liberty by securing those rights.</p>
					<!-- Taken from http://www.brennancenter.org/issues/money-politics -->
					<p>Today, new forms of big money threaten to undermine American democracy. Citizens United and other court rulings obliterated a century of campaign finance laws. Now a handful of special interests threaten to dominate political funding, often through Super PACs and shadowy nonprofits. Public trust in government has plummeted.</p>
				</div>
				<div id="issue-vis">
					<div id="vis">
					</div>
					<p>Explanation of visualization here</p>
				</div>

				<div id="showOnRep">
					<!-- E.g. 
					<h1>{{representative.name}}</h1>
					<div id="basic-info">
						<div id="title"></div> Contact info, etc. here
						<div id="contact-links"></div>
						<div id=""
						// From Congress API
					</div>
					<div id="contribution-expenditure-data">
						// Influence API data here
					</div>
					<div id="money-vis">
						<div id="vis">
						</div>
						<p>Explanation of visualization here</p>
					</div>
				</div> -->
		</div>
	</div>
</div>