<div class="col left rb">
	<h4>Issues Highlights</h4>
</div>

<div class="col left rb">
	<form>
		<h2>Find My Lawmakers</h2> 
		<input type="text" placeholder="E.g. '01890'">
		<input type="submit" value="search">
	</form>
</div>

<div class="col left">
	<h4>Representatives Highlights</h4>
</div>
