<main>
	<div id="issues">
		<a href="issues.html"><img src="#" /></a>	
		<h4>Search Issues</h4>
	</div>

	<div id="search">
		<form>
			<img src="#" />
			<h2>Input Your Location Here</h2> 
			<input type="text" placeholder="E.g. '01890'">
			<input type="submit" value="search">
		</form>
	</div>

	<div id="representatives">
		<a href="reps.html"><img src="#" />
		<h4>Search Representatives</h4>
	</div>
</main>