<div id="left-sidebar">
	<ul>
	 <!-- List elements goes here -->	
	 <!-- E.g.
	 <li repeat="issue in issues">
	</ul> -->
</div>

<div class="">
	<h1>Issues Landing</h1>
	<p>Click the links on the left to view information about different issues. For the purposes of this hackathon, we focus on topics related to Campaign Finance Reform.</p>
	<p>Here are a few popular issues to look at to get started:</p>
	<ul>
		<!-- List elements go here -->
		<!-- E.g. 
		<li repeat="issue in issues | sort most answered | limit 3">
		-->
	</ul>
	<a href="/populous/details">Issue Details</a>


    <% if user_signed_in? %>
    	<pre><%= current_user.email %>: Your response to this issue is - Not In Favor</pre>
    <% end %>
</div>