<div id="left-sidebar">
	<ul>
	 <!-- List elements goes here -->	
	 <!-- E.g.
	 <li repeat="rep in reps">
	</ul> -->
</div>

<main>
	<h1>Representatives of Congress<h1>
	<p>Click the links on the left to view information about different representatives of Congress. Information provided about each legislator includes:</p>
	<ul>
		<li>Contact information<li>
		<li>Bulk contributions received by congressperson</li>
		<li>Committees the congressperson sits on</li>
		<li>Congressperson's voting records</li>
		<li>and more...</li>
	</ul>
	<pre id="showOnUserLocation">
		The representative that serves your area is:
		<!-- Get representative based on user location -->
		<!-- E.g. {{user.location.representative}} -->
	</pre>
</main>